body {
  background-color: black;
  background: url('../public/city-explorer.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-size: cover;
}

.center-items {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(15%);
}

.explorer-header {
  color: white;
  font-size: 64px;
  margin-bottom: 2rem;
}

.map-img {
  max-width: 500px;
}

.forecast-header {
  color: white;
  margin-bottom: 1rem;
  font-size: 32px;
}

.footer {
  color: white;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.error-mssg {
  color: white;
  font-weight: bold;
}